.border{border-radius: 5px; border-style: none;}
.body{ font-family: 'Trebuchet MS', sans-serif;color:  rgb(67, 36, 159);}
.cuadrado{border-radius: 5px; border-color:rgb(67, 36, 159) ;}
.leng{text-transform: uppercase;}
body{background-color: #8a80e1;}